.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
  flex-direction: column;
  font-size: 25px;
  letter-spacing: 1px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .bg_dark{
  background: #00264D !important;
} */

/* textarea{
  white-space: pre-line;
} */